@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: mediumpurple;
    opacity: 0.3;
    font-size: 15rem;
    margin: 150px 0 100px;
    letter-spacing: 5px;
}

.todo-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
}

.todo-container .todo-input {
    width: 100%;
    height: 50px;
    padding: 20px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-container .todo-input:focus {
    outline: none;
    border: 2px solid mediumpurple;
}

.todo-element {
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.todo-element.completed {
    text-decoration: line-through;
    color: #aaa;
}

.info {
    margin-top: 50px;
    color: #aaa;
    text-align: center;
}
