@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    border: 3px solid black;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container h2 {
    text-transform: capitalize;
}

.container h3 {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.container h4 {
    width: 60%;
    background-color: #eee;
    color: #999;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
}

.digit-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.digit-container input {
    width: 100px;
    height: 130px;
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    margin: 0 10px;
    border-radius: 10px;
    border: 2px solid #eee;
}

.digit-container input.active {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #999;
    border-top: 2px solid deepskyblue;
}

.digit-container input:focus {
    outline: none;
    border: 2px solid royalblue;
}




